<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Auth0RedirectURL</key>
	<string>ahmadshiddiq.News2App://auth/callback</string>
	<key>ClientId</key>
	<string>Xe0VDpIrU06E1F3k8EAuwadGxrqgwKbp</string>
	<key>Domain</key>
	<string>news-testingapp.us.auth0.com</string>
</dict>
</plist>
